<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <title>{% block title %}Django Project{% endblock %}</title>
    {% block meta %}
        <meta property="og:title" content="Django Project" />
        <meta property="og:description" content="Django Project Description" />
        <meta property="og:image" content="{{ STATIC_URL }}logo.png" />
    {% endblock %}

    <link href="{{ STATIC_URL }}favicon.ico" rel="shortcut icon" />

    <link rel="stylesheet" href="{{ STATIC_URL }}base_pages/styles.css">

    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>

    <script src="{{ STATIC_URL }}base_pages/main.js"></script>

    <!-- extra-head -->
    {% block extra_head %}
    {% endblock %}
    <!-- /extra-head -->
    <script type="text/javascript">
        True = true;
        False = false;
        user = {
            'is_authenticated': {{ user.is_authenticated }},
            'is_staff': {{user.is_staff}},
            'is_superuser': {{user.is_superuser}},
            'is_active': {{user.is_active}},
            'username': "{{user}}"
        };
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>
<div class="wrapper">
    <nav style="display: none;">
        <ul></ul>
    </nav>

    <section style="height: auto;">
        <!-- "content" -->
        {% block content %}
        {% endblock %}
        <!-- /"content" -->
    </section>
    <footer>
	<p>Footer</p>
    </footer>
</div>
<!--[if !IE]><script>fixScale(document);</script><![endif]-->
</body>
</html>
